/* 공통 공지사항 */
.news__notice {
  padding: 15px;
}
.news-headline::before {
  content: "";
  width: 24px;
  height: 48px;
  display: inline-block;
  background: url(../images/icon-news-headline.svg) 0 0 / 100% 100% no-repeat;
  margin-right: .5em;
}
.news-headline {
  font-size: 2rem;
  font-weight: 700;
  color: #24388d;
  background: url(../images/icon-news-headline.svg) no-repeat 0 100%;
  text-indent: .5em;
  margin: 0;
}
.news-text {
  font-size: 1.4rem;
  margin: 10px 0;
}
/* 공통 검색 폼 */
.news__press-form {
  padding: 20px 0;
}
.press-search-container {
  display: flex;
  flex-flow: row nowrap;
  position: relative;
}
.news__press-form select {
  border: none;
  background: #f5f5f5;
  width: 5em;
  margin-right: 5px;
}
.keyword {
  flex-grow: 1;
  border: none;
  border-bottom: 1px solid currentColor;
  padding-right: 20px;
}
.press-search-container .button-search {
  position: absolute;
  width: 16px;
  height: 16px;
  background: transparent;
  border: none;
  padding: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
.press-search-container .icon-search {
  display: block;
  width: 100%;
  height: 100%;
  background: url(../images/icon-search.svg) no-repeat 0 0 / 100% 100%;
}
/* 공통 테이블 데이터 */
.news__press-table {
  border-top: 2px solid darkblue;
  border-bottom: 2px solid darkblue;
  text-align: center;
  border-spacing: 0;
  border-collapse: collapse;
}
.news__press-table th:first-child {
  width: 4em;
  padding: 15px 5px;
}
.news__press-table td:nth-child(1),
.news__press-table td:nth-child(3) {
  font-size: 1.4rem;
  font-weight: 100;
}
.news__press-table td:nth-child(2) {
  text-align: left;
}
.news__press-table td {
  border-top: 1px solid black;
  padding: 15px;
}
.press-article dt {
  font-size: 1.4rem;
  color: #24388d;
  font-weight: 700;
  margin: 0;
}
.press-article dd {
  margin: 0;
  font-size: 1.2rem;
  color: #878787;
  font-weight: 100;
  margin-top: 10px;
  line-height: 1.5;
}
.pagination-container {
  margin-top: 20px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
}
.pagination li {
  display: inline-block;
  color: #878787;
  margin: 0 5px;
}
.pagination a {
  padding: 0 2px;
}
.pagination a.on {
  font-weight: 700;
  color: black;
}
.button {
  border: none;
  background: transparent;
}
.button svg {
  width: 1.4rem;
  height: 1.4rem;
}
.button svg path {
  fill: #878787;
}
.button:hover path,
.pagination:focus path {
  fill: darkblue;
}


/* 모바일 공지사항 */
@media all and (max-width: 767px) {
  .press-thumbnail {
    display: none;
  }
  .press-article dt,
  .press-article dd {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
}

/* 데스크탑 공지사항 */
@media all and (min-width: 768px) {
  .news__notice {
    width: 740px;
    margin: 0 auto;
  }
  .news__press-form {
    width: 440px;
    margin-left: auto;
  }
  .press-thumbnail {
    float: left;
    margin: 0;
    margin-right: 15px;
  }
}
